<div class="connect-wrapper">
<!--<div class="connect-banner">
<img src="images/connectBG.png" alt="" />
</div>-->
<div class="connect-content">
<div class="row">
<div class="title">
<h2 class="connect-title">Convinced Yo Work With Us?</h2>
<h4 class="connect-sub-title">Company has helped agencies to keep their promises to clients since 2005.</h4>
</div>
<div class="connect-form">
<form id="connect">
<div class="row">
<input type="text" name="fullname" placeholder="Fullname" />
<input type="email" name="email" placeholder="Email Address" />
<input type="text" name="phone" placeholder="Phone Number" />
</div>
<div class="row">
<textarea name="comment" placeholder="Message in brief"></textarea>
</div>
<div class="row">
<button type="submit" name="submit">Submit</button>
</div>
</form>
</div>
</div>
</div>
</div>
