
<div class="main-content">
<div class="row">
<div class="about-wrapper">
<div class="about-content">
<h2>Mauris id bibendum est. Proin dapibus sollicitudin iaculis, Maecenas condimentum maximus laoreet.</h2>
<p>In maximus euismod egestas. Fusce tincidunt posuere est non elementum. Vivamus tincidunt eleifend nisl et gravida. Aenean in lorem ultrices, pellentesque augue eu, mattis est. Praesent sed volutpat nibh. Morbi faucibus tortor sed neque vulputate hendrerit. Sed aliquam mattis purus eleifend consectetur. Nulla mollis non enim non tempus.</p>
</div>
<div class="about-image">
<img src="images/locations.png" alt="" />
</div>
</div>
<div class="clearfix"></div>
</div>

<div class="testimony">
<div class="row">
<h1>Testimonials</h1>
<ul class="testimony-list">
<li>
<div class="testimony-wrapper">
<div class="testimony-message">Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam.</div>
<div class="client-wrapper">
<div class="client-avatar"><img src="images/avatar.png" alt="" /></div>
<div class="client-name"><span class="name">Client Name</span><span class="designation">Position, ORG</span></div>
</div>
</div>
</li>
<li>
<div class="testimony-wrapper">
<div class="testimony-message">Nunc ut ipsum iaculis, dictum magna id, lacinia ante. Nulla facilisi. Integer lobortis in risus eget volutpat. Donec interdum elit eget quam aliquam sodales. Vestibulum auctor auctor finibus.</div>
<div class="client-wrapper">
<div class="client-avatar"><img src="images/avatar.png" alt="" /></div>
<div class="client-name"><span class="name">Client Name</span><span class="designation">Position, ORG</span></div>
</div>
</div>
</li>
<li>
<div class="testimony-wrapper">
<div class="testimony-message">Mauris id bibendum est. Proin dapibus sollicitudin iaculis. Maecenas condimentum maximus laoreet. In maximus euismod egestas.</div>
<div class="client-wrapper">
<div class="client-avatar"><img src="images/avatar.png" alt="" /></div>
<div class="client-name"><span class="name">Client Name</span><span class="designation">Position, ORG</span></div>
</div>
</div>
</li>
</ul>
</div>
<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</div>
