<div class="hero-banner-wrapper">
<!--
<div class="hero-banner-image">
<img src="images/hero-banner.png" alt="hero-image" />
</div>-->
<div class="hero-banner-content">
<div class="row">
<h1 class="hero-title">Integer bibendum sit amet  arcu vel egestas.</h1>
<ul class="hero-item-list">
<li><a href="#"><span class="list-icon"><img src="images/staff-icon.png" alt=""/></span><span class="list-icon-title">Service Name</span></a></li>
<li><a href="#"><span class="list-icon"><img src="images/staff.png" alt=""/></span><span class="list-icon-title">Service Name</span></a></li>
<li><a href="#"><span class="list-icon"><img src="images/folder.png" alt=""/></span><span class="list-icon-title">Service Name</span></a></li>
</ul>
</div>
</div>
</div>
